<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [2]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [3]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [5]:
# your code goes here
df = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [7]:
# your code goes here
print(df.iloc[:5,:5])

   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource
0  The quality of OSS and closed source software ...
1  The quality of OSS and closed source software ...
2  OSS is, on average, of HIGHER quality than pro...
3  The quality of OSS and closed source software ...
4  The quality of OSS and closed source software ...

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [9]:
# your code goes here
#number of rows
df.shape[0]

11552

Print the number of columns in the dataset.

In [10]:
# your code goes here
#number of columns
df.shape[1]

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [13]:
# your code goes here
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

Print the mean age of the survey participants.

In [24]:
import re
# your code goes here
# df['Age1stCode'] = df['Age1stCode'].astype(int)
# df['Age1stCode'].mean()
def extract_numeric(cell):
    # Use regular expression to find numeric values in the cell
    numeric_values = re.findall(r'\d+\.\d+|\d+', str(cell))
    
    # Return the first numeric value found, or NaN if none
    return float(numeric_values[0]) if numeric_values else float('nan')

# Apply the function to the entire column
df['Age1stCode'] = df['Age1stCode'].apply(extract_numeric)
df['Age1stCode'].mean()

15.149319698414073

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [30]:
# your code goes here
dfg =df.groupby('Country')
dfg['Country'].count()
unique_countries_count  = dfg.nunique()
unique_countries_count

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2,1,2,2,2,1,1,1,2,2,...,1,2,1,1,1,0,2,1,2,1
Albania,12,1,2,4,3,1,2,3,1,11,...,3,6,10,2,1,1,1,2,2,2
Algeria,3,1,2,3,2,1,1,2,2,3,...,2,2,2,1,1,1,2,2,1,1
Argentina,71,2,2,4,3,2,3,8,7,49,...,4,13,28,3,1,3,3,2,2,3
Armenia,12,1,2,3,3,1,3,4,5,11,...,4,8,8,2,1,2,6,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,2,1,1,2,1,1,1,2,1,2,...,2,2,2,1,1,1,2,2,2,2
"Venezuela, Bolivarian Republic of...",7,1,2,3,2,2,2,3,4,5,...,2,6,4,1,1,1,2,2,2,1
Viet Nam,12,1,2,4,3,1,3,3,2,10,...,5,5,6,1,2,2,4,2,1,2
Yemen,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Zimbabwe,5,2,1,3,2,1,2,2,2,4,...,2,3,5,1,1,1,1,2,2,2

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).